@{
    ViewData["Title"] = "Danh sách User";
    Layout = "_AdminContentLayout";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Danh sách đặt Tour</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-area="Admin"
               asp-controller="Home"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
    </ul>
</div>


