@model Presentation.Models.FeedbackViewModel

@{
    ViewData["Title"] = "Chỉnh sửa đánh giá";
}

<h2>Chỉnh sửa đánh giá</h2>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group d-none">
        <label asp-for="FeedbackID"></label>
        <input asp-for="FeedbackID" type="text" class="form-control" id="FeedbackID" name="FeedbackID">
        <span asp-validation-for="FeedbackID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TourID"></label>
        <input asp-for="TourID" type="text" class="form-control" id="TourID" name="TourID">
        <span asp-validation-for="TourID" class="text-danger"></span>
    </div>

    <div class="form-group d-none">
        <label asp-for="CustomerID"></label>
        <input asp-for="CustomerID" type="text" class="form-control" id="CustomerID" name="CustomerID">
        <span asp-validation-for="CustomerID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" type="text" class="form-control" id="Rating" name="Rating" Required>
        <span asp-validation-for="Rating" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Comments"></label>
        <textarea asp-for="Comments" type="text" class="form-control" id="Comments" name="Comments"></textarea>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CreateAt"></label>
        <input asp-for="CreateAt" type="datetime-local" class="form-control" id="CreateAt" name="CreateAt">
        <span asp-validation-for="CreateAt" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ModifyAt"></label>
        <input asp-for="ModifyAt" type="datetime-local" class="form-control" id="ModifyAt" name="ModifyAt">
        <span asp-validation-for="ModifyAt" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-controller="Feedback" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
