@model Presentation.Models.DestinationViewModel
@{
    ViewData["Title"] = "Thêm địa điểm mới";
}

<h2>Thêm địa điểm mới</h2>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" type="text" class="form-control" id="Name" name="Name" required>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="City"></label>
        <input asp-for="City" type="text" class="form-control" id="city" name="city" required>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Country"></label>
        <input asp-for="Country" type="text" class="form-control" id="country" name="country" required>
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input asp-for="Description" type="text" class="form-control" id="destination_name" name="destination_name" required>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-controller="Destination" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
