@model Presentation.Models.PaymentViewModel

@{
    ViewData["Title"] = "Thêm thông tin thanh toán mới";
    Layout = "_ContentLayout";
}

<div class="page-header">
    <h3 class="fw-bold mb-3">Thêm Thanh Toán</h3>
    <ul class="breadcrumbs mb-3">
        <li class="nav-home">
            <a asp-asp-controller="HomeController"
               asp-action="Index">
                <i class="icon-home"></i>
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            <a asp-controller="Payment"
               asp-action="Index">
                Thanh toán
            </a>
        </li>
        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>
        <li class="nav-item">
            Create
        </li>
    </ul>
</div>

<form asp-action="Create" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="BookingID">Chọn Booking:</label>
        <select id="BookingID" name="BookingID" class="form-control" Required>
            <option value="">-- Chọn Booking --</option>
            @foreach (var tour in ViewBag.BookingList as SelectList)
            {
                <option value="@tour.Value">@tour.Text</option>
            }
        </select>
        <span asp-validation-for="BookingID" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Method"></label>
        <select asp-for="Method" type="text" class="form-select" id="Method" name="Method" Required>
            <option value="">-- Chọn phương thức thanh toán --</option>
            <option value="0">Thẻ ví</option>
            <option value="1">Tiền mặt</option>
        </select>
        
        <span asp-validation-for="Method" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status"></label>
        <select asp-for="Status" type="text" class="form-select" id="Status" name="Status" Required>
            <option value="">-- Chọn phương thức thanh toán --</option>
            <option value="false">Chưa thanh toán</option>
            <option value="true">Đã thanh toán</option>
        </select>

        <span asp-validation-for="Method" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-controller="Payment" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
