@model Presentation.Models.CustomerViewModel
@{
    ViewData["Title"] = "Cập nhật thông tin cá nhân";
}
<div class="services_section layout_padding">
    <div class="container">
            <h1 class="services_taital text-center">Cập nhật thông tin cá nhân</h1>
                <!-- Breadcrumb -->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb   ">
                        <li class="breadcrumb-item">
                            <a asp-area="Admin" asp-controller="HomeController" asp-action="Index">
                                <i class="fa fa-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            id: @Model.CustomerID
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Cập nhật
                        </li>
                    </ol>
                </nav>


        <form asp-action="Update" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="CustomerID" type="hidden" class="form-control" id="CustomerID" name="CustomerID" value="@Model.CustomerID">

            <div class="form-group">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" type="text" class="form-control" id="FirstName" name="FirstName" Required>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" type="text" class="form-control" id="LastName" name="LastName" Required>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address"></label>
                <input asp-for="Address" type="text" class="form-control" id="Address" name="Address" Required>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" type="text" class="form-control" id="Email" name="Email" disabled>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone"></label>
                <input asp-for="Phone" type="text" class="form-control" id="Phone" name="Phone" Required>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="form-group d-flex justify-content-end">
                <button type="submit" class="btn btn-primary">Lưu</button>
                <a asp-area="Admin" asp-controller="Customer" asp-action="Index" class="btn btn-secondary">Hủy</a>
            </div>

        </form>
    </div>
</div>