@model Presentation.Models.TourDestinationViewModel
@{
    ViewData["Title"] = "Chỉnh sửa thông tin thời gian địa điểm tour";
}

<h2>Chỉnh sửa thông tin thời gian địa điểm tour</h2>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group d-none">
        <label asp-for="TourID"></label>
        <input asp-for="TourID" type="datetime-local" class="form-control" id="TourID" name="TourID">
        <span asp-validation-for="TourID" class="text-danger"></span>
    </div>
    <div class="form-group d-none">
        <label asp-for="DestinationID"></label>
        <input asp-for="DestinationID" type="datetime-local" class="form-control" id="DestinationID" name="DestinationID">
        <span asp-validation-for="DestinationID" class="text-danger"></span>
    </div>

 
    <div class="form-group">
        <label asp-for="VisitDate"></label>
        <input asp-for="VisitDate" type="datetime-local" class="form-control" id="VisitDate" name="VisitDate" Required>
        <span asp-validation-for="VisitDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-controller="TourDestination" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
