@{
    ViewData["Title"] = "Home Page";
    Layout = "_ecomLayout";
}
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">Giới Thiệu</h1>
                    <p class="about_text">
                        <div class="mb-1"><strong>Chào mừng đến với dịch vụ đặt tour du lịch của chúng tôi!</strong> </div>
                        <div class="mb-1"> 
                        Chúng tôi mang đến cho bạn những trải nghiệm du lịch tuyệt vời với các gói tour đa dạng, từ khám phá thiên nhiên hùng vĩ, nghỉ dưỡng cao cấp cho đến hành trình tìm hiểu văn hóa đặc sắc. Dù bạn yêu thích sự khám phá, nghỉ ngơi hay tìm kiếm những trải nghiệm mới mẻ, chúng tôi cam kết mang đến cho bạn một hành trình đáng nhớ. <br />
                </div>
                <div class="mb-1">
                        Với đội ngũ tư vấn nhiệt tình, giàu kinh nghiệm, chúng tôi luôn sẵn sàng hỗ trợ bạn lựa chọn tour phù hợp với nhu cầu và sở thích cá nhân. Hãy để chúng tôi giúp bạn thực hiện những chuyến đi tuyệt vời ngay hôm nay!
                        </div>
                    </p>
                    <div class="readmore_bt"><a asp-action="Index" asp-controller="Tour">Xem Thêm</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_right_0">
                <div><img src="~/assetsUser/images/about-img.png" class="about_img"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

