@{
    ViewData["Title"] = "Home Page";
    Layout = "_ecomLayout";
}
<!-- about section start -->
<div class="about_section layout_padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="about_taital_main">
                    <h1 class="about_taital">Giới Thiệu</h1>
                    <p class="about_text">
                        Chúng tôi tự hào mang đến dịch vụ đặt tour du lịch chuyên nghiệp và tiện lợi. Với đa dạng các
                        gói tour hấp dẫn, từ khám phá thiên nhiên, nghỉ dưỡng cao cấp đến hành trình khám phá văn hóa,
                        chúng tôi luôn cam kết mang lại trải nghiệm tuyệt vời nhất cho bạn. Đội ngũ tư vấn tận tâm sẵn
                        sàng hỗ trợ để giúp bạn lựa chọn hành trình phù hợp với nhu cầu và sở thích cá nhân.
                    </p>
                    <div class="readmore_bt"><a href="#">Xem Thêm</a></div>
                </div>
            </div>
            <div class="col-md-6 padding_right_0">
                <div><img src="~/assetsUser/images/about-img.png" class="about_img"></div>
            </div>
        </div>
    </div>
</div>
<!-- about section end -->

