@model Presentation.Models.TourViewModel
@{
    ViewData["Title"] = "Chỉnh sửa thông tin tour";
}

<h2>Chỉnh sửa thông tin tour</h2>

<form asp-action="Update" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group d-none">
        <label asp-for="tour_id"></label>
        <input asp-for="tour_id" type="text" class="form-control" id="tour_id" name="tour_id" >
        <span asp-validation-for="tour_id" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="tour_name"></label>
        <input asp-for="tour_name" type="text" class="form-control" id="tour_name" name="tour_name" >
        <span asp-validation-for="tour_name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="start_Date"></label>
        <input asp-for="start_Date" type="datetime-local" class="form-control" id="start_Date" name="start_Date">
        <span asp-validation-for="start_Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="end_Date"></label>
        <input asp-for="end_Date" type="datetime-local" class="form-control" id="end_Date" name="end_Date">
        <span asp-validation-for="end_Date" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="price"></label>
        <input asp-for="price" type="decimal" class="form-control" id="price" name="price" min="0">
        <span asp-validation-for="price" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="availableSeats"></label>
        <input asp-for="availableSeats" type="number" class="form-control" id="availableSeats" name="availableSeats" min="0">
        <span asp-validation-for="availableSeats" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="description"></label>
        <textarea asp-for="description" type="text" class="form-control" id="description" name="description" ></textarea>
        <span asp-validation-for="description" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-controller="Tour" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>
